
Triarc/bin/Debug/grafy/*
Triarc/bin/Debug/solutions/*

Triarc/bin/Debug/(n,n,n)Triarcs 3 15
Triarc/bin/Debug/(n,n,n)Triarcs 3 12
Triarc/bin/Debug/(n,n,n)Triarcs 3 18
Triarc/bin/Debug/(n,n,n)Triarcs 3 9
Triarc/bin/Debug/(n,n,n)Triarcs 4 10
Triarc/bin/Debug/(n,n,n)Triarcs 4 8
Triarc/bin/Debug/(n,n,n)Triarcs 4 12
Triarc/bin/Debug/(n,n,n)Triarcs 5 7
Triarc/bin/Debug/(n,n,n-1)Triarcs 4 10
Triarc/bin/Debug/lkj.txt
